
<ion-header [translucent]="true">
  <ion-toolbar size="large">
    <ion-title>Recetas Favoritas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Recetas Favoritas</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="ion-padding">

  <ion-grid [fixed]="true">
    <ion-row>

      @for(recetaItem of recetasFavServicio.getRecetasFav(); track recetaItem.idMeal)
      {
        <ion-col size="4">
          <app-receta-simple [receta]=recetaItem [sinModi]=true  [estadoFav]="recetasFavServicio.estadoFavReceta(recetaItem.idMeal)" />
        </ion-col>
      }

    </ion-row>
  </ion-grid>

</div>

</ion-content>