
<!-- <ion-col size="4"> -->
  <ion-card>
    <img alt="Receta de {{receta.strMeal}}" src={{receta.strMealThumb}} />
    <ion-card-header>
      <!-- <ion-card-title><a [routerLink]="['/receta-completa', receta.idMeal]"> {{receta.strMeal}}</a> </ion-card-title> -->
      <ion-card-title>  <a [routerLink]="['/listado-recetas', 'receta-completa', receta.idMeal]"> {{ receta.strMeal }}</a>  </ion-card-title>
      <ion-card-subtitle>{{receta.strCategory}} - {{receta.strArea}}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      @if(receta.strInstructions === undefined) {
        <p>Receta sin instrucciones</p>
      }
      @else {
        <p>{{receta.strInstructions.substring(0, 82)}}...</p>
      }
    </ion-card-content>

    @if(sinModi){ <!-- PARA PAGINA DE LISTADO DE FAVORITOS DE RECETAS -->
      <div class="inputTips">
        @if(sinTip){  <!-- SI LA RECETA TIENE TIPS -->
            <ion-list>
              <!-- Listado de tips -->
              @for(tip of tips; track tip)
              {
                <ion-item>
                  <ion-label>{{tip}}</ion-label>
                  <ion-button (click)="deleteTip(tip)">Eliminar</ion-button>
                </ion-item>
              }
            </ion-list>
            <ion-input (ionInput)="inputTips($event)"
            [(ngModel)]="tipInput"
            placeholder="Escribe un tip"></ion-input>
            <ion-button (click)="addTip()">Guardar</ion-button>
        } @else { <!-- SI LA RECETA AUN NO TIENE TIPS -->
            <ion-list>
              <ion-item> <ion-label>No hay tips para esta receta</ion-label></ion-item>
            </ion-list>
            <ion-input (ionInput)="inputTips($event)"
            [(ngModel)]="tipInput"
            placeholder="Escribe un tip"></ion-input>
            <ion-button (click)="addTip()">Guardar</ion-button>
        }
      </div>
    }

    <div class="btFavSolo">
      <ion-button (click)="favRecetaModificar()" fill="clear">
        @if(estadoFav){
          <ion-icon name="star" class="iconFav"></ion-icon>
        } @else {
          <ion-icon name="star-outline" class="iconFav"></ion-icon>
        }
      </ion-button>
    </div>

    <!-- LISTADO DE TIPS - SI ES UNA RECETA EN FAVORITOS -->
    <!-- @if(estadoFav){
      @if(sinTip){
        <div class="inputTips">
          <ion-list>
            @for(tip of tips; track tip)
            {
              <ion-item>
                <ion-label>{{tip}}</ion-label>
                <ion-button>Eliminar</ion-button>
              </ion-item>
            }
            </ion-list>
          <ion-input placeholder="Escribe un tip"></ion-input>
          <ion-button>Guardar</ion-button>
        </div>
      } @else {
        <div class="inputTips">
          <ion-list>
            <ion-item> <ion-label>No hay tips para esta receta</ion-label></ion-item>
          </ion-list>
          <ion-input placeholder="Escribe un tip"></ion-input>
          <ion-button>Guardar</ion-button>
        </div>
      }
    } -->
    <!-- ======================================== -->

  </ion-card>
<!-- </ion-col> -->