<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="listado-recetas" href="listado-recetas" (click)="obtenerListadoRecetas()">
      <ion-icon aria-hidden="true" name="home"></ion-icon>
      <ion-label>Todas las Recetas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="recetas-favoritas" href="/recetas-favoritas">
      <ion-icon aria-hidden="true" name="star"></ion-icon>
      <ion-label>Recetas Favoritas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="recetas-propias" href="/recetas-propias">
      <ion-icon aria-hidden="true"  name="person-circle"></ion-icon>
      <ion-label>Mis Recetas</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
