img {
    height: 400px;
    border-radius: 10%;
    margin-bottom: 20px;
}

ion-card {
    margin: 10px;
    padding: 20px;
    border-radius: 2%;
}

ion-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    ion-title {
        justify-content: center;
    }
}

h2 {
    color: white;
    font-size: 20px;
    font-weight: bold;
}

p {
    color: white;
    font-size: 15px;
}

ion-icon {
    color: white;
}

.bto-grande {
    font-size: 30px;
    margin-left: 40px;

    ion-icon {
        font-size: 40px;
    }

}

.ion-text-center {
    .descripReceta p {
        text-align: start;
        padding: 10px 100px;
    }
}